<!DOCTYPE html>
<html>
<head>
	<title>Sheila Jimenez Morejon</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="crossorigin="anonymous"></script>

  	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  	<link rel="stylesheet" href="/stylesheets/main.css">
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>

  <div class="navbar-fixed">
    <nav>

      <div class="nav-content">
        <ul class="tabs tabs-transparent">

          <li class="tab"><a class="tab" href="#welcome">Welcome</a></li>

          <li class="tab"><a href="#projects">Projects</a></li>
          <li class="tab"><a href="#about">More About Me</a></li>

        </ul>
      </div>
    </nav>
  </div>
        
