<% include partials/header.ejs %>
<div id="welcome">
  <div  class="section scrollspy">
      <div class="row">
        <div id="welcomeText" class="col s4">
          <div class="valign-wrapper">
            <p id="welcomeTextParagraph">Hi! I'm Sheila Jimenez Morejon, a sophomore student studying mathematics and computer science at Boston University. In my free time, you can find me at gardening, petting dogs, or learning a new CS skill.</p>
          </div>
        </div>
        <div id="welcomeImage" class="col s8"></div>
      </div>
  </div>
</div>



<div class="topic container">    
  <div class = "row">
    <div class="col s6">
      <h3>Relevant Experience</h3>
    </div>
    <div class="col s6">
        <h3>Skills</h3>
    </div>
  </div>
  <div id="experience" class="section scrollspy">
    <div class = "row">
      <div class="col s6">
        <h5><a href="http://www.bu.edu/lernet/cyber/about/about.html">Codebreakers Coordinator</a></h5>
          <ul>
            <li>this</li>
            <li>rhis</li>
          </ul>
        <h5> <a href="https://sites.google.com/site/labnetworkphysiology/people/sheila-jimenez-morejon">Dynamic Brain Network Interactions Research</a></h5> 
            <ul>
              <li>tihs</li>
              <li>this</li>
            </ul>
        <h5>Hack4Impact Softare Developer</h5>      
          <ul>
            <li>this</li>
            <li>this</li>
          </ul>
        <h5>Additional Experience</h5>
          <ul>
            <li>CS Deparment Ambassador</li>
            <li>Agganis Arena Guest Service Team</li>
            <li>Marciano Commons Worker</li>
          </ul>
      </div>
          
      <div class="col s6">
        <ul>
          <li>Python,Java,MATLAB</li>
          <li>HTML,CSS,JavaScript</li>
          <li>MonogoDB,mLab</li>
          <li>git,GitHub</li>
          <li>Swift</li>
          <li>Latex</li>
          <li>Spanish</li>
        </ul>
        <h3>Awards</h3>
          <ul>
            <li>UNAM Merit Scholarship</li>
            <li>BU Presidential Scholarship</li>
            <li>Dean's List Fall 2018</li>
            <li>Dean's List Spring 2019</li>
          </ul>
      </div>
    </div>
      
      <a href="documents/resume.pdf" download class="waves-effect waves-light btn"><i class="material-icons right">get_app</i>Resume</a>
  </div>
</div>




<div class = "topic container" id="projectContainer">
  <h3>Projects</h3>

  <div id="projects" class="section scrollspy">

    <p>Click on the Run button and to run the programs!</p>



    
    <div class = "row">
      <div class="col s6"><h6>Connect Four</h6></div>
      <div class="col s6"><h6>Random Text Generator</h6></div>
    </div>
    

        
      <iframe src="https://trinket.io/embed/python/cb8fc7ba84?outputOnly=true&runOption=run" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
      <iframe src="https://trinket.io/embed/python3/36f0793a4f?outputOnly=true&runOption=run"  frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
  </div>

    


    <h5><a href="https://mysterious-castle-79415.herokuapp.com">Hack4Impact Website</a></h5>
    <h6>Click above to see a prototype for our application portal. It was my first project where I set up the back-end</h6>
    <p>Features include:</p>
      <ul class="features">
        <li class="features">About Us Page introducing the project managers</li>
        <li class="features">Application form</li>
        <li class="features">Results page (accessible through the top right Admin button)</li>
       </ul>
</div>







<% include partials/footer.ejs %>