<% include partials/header.ejs %>

      <div id="welcome" class="section scrollspy">
        <div class="row">
          <div id="welcomeText" class="col s4">
          <div class="valign-wrapper">
            <p>Hi! I'm Sheila Jimenez Morejon, a first-year university student studying mathematics and computer science at Boston University. In my free time, you can find me at gardening, knitting, or learning a new CS skill.</p>
          </div>
          </div>
          <div id="welcomeImage" class="col s8">
          </div>
        </div>
      </div>
      



      <div id="about" class="section scrollspy">
      <div class="container">
          <h3>Education</h3>
          <div class="row">
            <div class="col s6">
              <h5>Boston University</h5>
              <ul>
                <li>B.A. Mathematics with Computer Science</li>
                <li>Presidential Scholarship</li>
                <li>Dean's List Fall 2018</li>
              </ul>
            </div>
            <div class="col s6">
              <h5>American School Foundation</h5>
              <ul>
                <li>UNAM Scholarship</li>
                <li>Top 10% of graduating class</li>
                <li>High Honor Roll Fall 2014 - Spring 2018</li>
              </ul>
            </div>
          </div>

          <h3>Experience</h3>
          <div class="row">
            <div class="col s4">
              <h5>Programming Skills</h5>
              <ul>
                <li>Python, Java, JavaScript</li>
                <li>Git, MongoDB</li>
                <li>HTML/CSS</li>
              </ul>
            </div>
            <div class="col s4">
              <h5>Relevant Coursework</h5>
              <ul>
                <li>CS111 & CS112</li>
                <li>MA124 (CalculusII)</li> 
                <li>MA225 (Calculus III)</li>
              </ul>
            </div>
            <div class="col s4">
              <h5>Extracurriculars</h5>
              <ul>
                <li>Hack4Impact</li>
                <li>Knitting Club</li> 
                <li>Boston Hacks & Hack@Brown</li>
              </ul>
            </div>
          </div>

          <h3>Additional Experience</h3>
          <ul>
            <li>CS Deparment Intern</li>
            <li>Agganis Arena Guest Service Team</li>
          </ul>
          
          <a href="documents/resume.pdf" download class="waves-effect waves-light btn"><i class="material-icons right">get_app</i>Resume</a>

      </div>
      </div>


    <div id="projects" class="section scrollspy">
      <div class="container">
        <h3>Projects</h3>
        <h5></h5>
        <iframe src="https://trinket.io/embed/python3/9923062a5e?outputOnly=true" width="100%" height="356" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
        
      </div>
       
      </div>





<% include partials/footer.ejs %>